@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Rubik', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #f4f4f9; /* Light background */
  color: #333; /* Default text color */
}

.google-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  text-align: center;
}

.google-login-container h1 {
  font-size: 2rem; /* Heading size */
  margin-bottom: 20px; /* Space below heading */
}

.google-login-container button {
  padding: 10px 20px; /* Button padding */
  font-size: 1rem; /* Button text size */
  color: #fff; /* Button text color */
  background-color: #4285f4; /* Google blue */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s ease; /* Hover effect */
}

.google-login-container button:hover {
  background-color: #357ae8; /* Darker blue on hover */
}

.toastify-container {
  z-index: 9999; /* Ensures the toasts are displayed above other content */
}

.toast-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.toast-message {
  font-size: 14px;
  margin: 0;
}

.app-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  margin: 0 auto; /* Center horizontally */
  padding: 20px; /* Add padding around the content */
  max-width: 1200px; /* Limit the width of the container */
  box-sizing: border-box; /* Ensure padding is included in width */
}

body {
  margin: 0;
  font-family: 'Rubik', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #f4f4f9; /* Light background */
  color: #333; /* Default text color */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}